@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --federal-blue: #16044F;
    --aquamarine: #00EFAC;
    --indigo: #6A0AFE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

h1.header-titulo {
    color: var(--federal-blue);
    padding-top: 10px;
}

p.header-descripcion {
    color: var(--federal-blue);
    font-style: italic;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--federal-blue);
    height: 60px;
    padding: 30px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding: 0px 15px;
    font-size: large;
    font-weight: bold;
    color: white;
}

form {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

div.form-input {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

label {
    padding-bottom: 6px;
    font-weight: bold;
    color: var(--indigo);
}

section.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to right, var(--indigo) , var(--aquamarine));
    color: white;
    padding: 20px;
}

section.intro div {
    margin: 5px;
    max-width: 640px;
    text-align: center;
}

section.intro h2 {
    font-size: xx-large;
}

section.intro p {
    font-size: large;
}

/* FORMULARIO */

section.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: grid;
    gap: 25px;
    grid-template-areas: 
    "nombre"
    "correo"
    "mensaje"
    "submit";
    padding: 50px 0px;
    margin: 50px auto;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--federal-blue);
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: var(--indigo);
    color: white;
    padding: 10px 16px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: var(--federal-blue);
}

div.nombre {
    grid-area: nombre;
    padding-bottom: 15px;
}
div.correo {
    grid-area: correo;
    padding-bottom: 15px;
}
div.mensaje {
    grid-area: mensaje;
    padding-bottom: 15px;
}

div.submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* SECCIÓN PRODUCTOS */

section.productos {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 0px;
}

div.producto {
    background-color: white;
    color: black;
    margin: 15px;
    padding: 15px;
    flex-grow: 1; /* "Estira" la columna */
    min-width: 200px;
    max-width: 400px;
    border-radius: 10px;
    height: fit-content;
    border: 1px var(--federal-blue) solid;
    box-shadow: 5px 5px var(--aquamarine);
}

img.img-producto {
    width: auto;
    height: 100%;
    border-radius: 10px;
}

h3.nombre-producto {
    padding-top: 10px;
    padding-bottom: 5px;
    color: var(--indigo);
    font-size: x-large;
}

p.descripcion-producto {
    padding-bottom: 15px;
}

span.precio-producto {
    font-weight: bold;
    font-size: x-large;
    color: var(--federal-blue);
}

/* SECCIÓN RESEÑAS */

section.resenas {
    display: grid;
    padding: 50px 15px;
    gap: 15px;
    grid-template-areas: 
        "resena-1"
        "resena-2"
        "resena-3"
        "resena-4";
    max-width: 1280px;
    margin: 0 auto;
}

div.resena {
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px var(--federal-blue) solid;
    border-radius: 10px;
    box-shadow: 5px 5px var(--indigo);
}

div.resena h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

div.resena-1 {
    grid-area: resena-1;
}

div.resena-2 {
    grid-area: resena-2;
}

div.resena-3 {
    grid-area: resena-3;
}

div.resena-4 {
    grid-area: resena-4;
}

div.usuario {
    display: flex;
}

img.img-usuario {
    border-radius: 10px;
    margin-right: 15px;
}

/* SECCION CONTACTO */

section.contacto {
    display: grid;
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 15px;
    gap: 25px;
    text-align: center;
    grid-template-areas: 
    "brief"
    "telefono"
    "mail"
    "direccion";
}

section.contacto > div {
    background-color: var(--federal-blue);
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px var(--indigo);
}

div.brief {
    grid-area: brief;
}

div.telefono {
    grid-area: telefono;
}

div.mail {
    grid-area: mail;
}

div.direccion {
    grid-area: direccion;
}

/* MEDIA QUERIES */

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    form {
        grid-template-areas: 
        "nombre mensaje"
        "correo mensaje"
        "submit submit";
    }
    section.resenas {
        grid-template-areas: 
        "resena-1 resena-2"
        "resena-3 resena-4";
    }
    section.contacto {
        grid-template-areas: 
        "brief telefono"
        "brief mail"
        "brief direccion";
    }
}

@media (min-width: 992px) {
    section.resenas {
        grid-template-areas: 
        "resena-1 resena-2 resena-3"
        "resena-1 resena-4 resena-4";
    }
    section.contacto {
        grid-template-areas: 
        "brief telefono mail"
        "brief telefono direccion";
    }
}

@media (min-width: 1200px) {
    section.contacto {
        grid-template-areas: 
        "brief telefono mail direccion";
    }
}

@media (min-width: 1400px) {

}

/* 
Extra small 	    None 	<576px
Small 	            sm 	    ≥576px
Medium 	            md 	    ≥768px
Large 	            lg 	    ≥992px
Extra large 	    xl 	    ≥1200px
Extra extra large 	xxl 	≥1400px 
*/