/* GLOBAL */
:root {
  --royal-dark: #001D52;
  --royal-blue: #002C66;
  --cornflower: #00397A;
  --yale:       #01458D;
  --usafa:      #024FA1;
  --denim:      #045CB4;
  --true-blue:  #0466C8;
  --navy:       #0470DC;
  --azure:      #057AF0;
}

* {
  font-family: 'Archivo', sans-serif;
}

/* NAV */
nav {
  background-color: var(--royal-blue);
}

.nav-link {
	color: white;
}

/* HERO */
.hero {
  padding-top: 6rem;
  padding-bottom: 4rem;
  color: #fff;
  background-color: #00397A;
}

/* SECTIONS */
section#objetivo {
	background-color: #00397A;
	color: white;
	padding: 8em 0em;
}

/* CARRUSEL */

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* MISC */
.btn-whatsapp {
	background-color: #25D366;
	border-color: #25D366;
	color: black;
}

.btn-whatsapp:hover {
	background-color: #075E54;
	border-color: #075E54;
	color: white;
}



