@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --federal-blue: #16044F;
    --aquamarine: #00EFAC;
    --indigo: #6A0AFE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    max-height: 75px;
    padding: 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--federal-blue);
    height: 60px;
    padding: 30px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding: 0px 15px;
    color: white;
}

form {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

div.form-input {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

label {
    padding-bottom: 6px;
}

section.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #6A0AFE;
    color: white;
    padding: 20px;
}

section.intro div {
    margin: 5px;
}

section.intro h2 {
    font-size: x-large;
}

section.intro p {
    font-size: large;
}

/* SECCIÓN PRODUCTOS */

section.productos {
    display: flex;
    flex-wrap: wrap;
    /* flex-shrink: ;
    flex-basis: ; */
    align-self: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 0px;
}

div.producto {
    background-color: white;
    color: black;
    margin: 15px;
    padding: 15px;
    flex-grow: 1; /* "Estira" la columna */
    min-width: 200px;
    border-radius: 10px;
    height: fit-content;
    border: 1px var(--federal-blue) solid;
    box-shadow: 5px 5px var(--aquamarine);
}

img.img-producto {
    max-width: 100%;
    
}

/* SECCIÓN RESEÑAS */

section.resenas {
    display: grid;
    padding: 50px 15px;
    gap: 15px;
    grid-template-areas: 
    "resena-1 resena-2 resena-3"
    "resena-1 resena-4 resena-4";
}

div.resena {
    background-color: #16044F;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

div.resena h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

div.resena-1 {
    grid-area: resena-1;
}

div.resena-2 {
    grid-area: resena-2;
}

div.resena-3 {
    grid-area: resena-3;
}

div.resena-4 {
    grid-area: resena-4;
}

div.usuario {
    display: flex;
}

img.img-usuario {
    border-radius: 100%;
    margin-right: 15px;
}